---
---

@import url('https://fonts.googleapis.com/css?family=Roboto');

@import 'mixins';

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
}

::selection {
	color: #000;
	background-color: #fff;
}

.logo-crop-container {
	width: 100%;
	height: 100%;
	box-shadow: 0px 0px 10px black;
	position: absolute;
	top: 0;
	left: 0;

	overflow: hidden;

	// CLIP WORKED EVERYWHERE EXCEPT SAFARI WHERE IT WAS GLITCHY
	// clip: rect(0, auto, auto, 0);

	// CLIP-PATH FIXES SAFARI BUT REQUIRES A PREFIX (FOR NOW)
	-webkit-clip-path: inset(0);
	clip-path: inset(0);

	pointer-events: none;
}

.ph-retro-logo {
	width: 75px;
	height: 76px;
	position: fixed;
	bottom: 20px;
	left: 12px;
	z-index: 10;
}

.block {
	min-height: 100vh;
	width: 100vw;
	position: relative;
	font-family: Roboto;

	overflow: hidden;

	@include breakpoint-up(lg) {
		min-height: 600px;
		height: 100vh;
	}
}

.block:last-of-type {
	padding-bottom: 60px;
}

.block-center-contents {
	display: flex;
	align-items: center;
	flex-direction: row;

	@include breakpoint-up(lg) {
		justify-content: center;
	}
}

.block-longform {
	height: auto;
	min-height: 100vh;
}

.light-pink {
	background-color: #FF75AD;
	color: #000;
}

.deep-pink {
	background-color: #FF0068;
	color: #fff;
}

.blue {
	background-color: #3C59CF;
	color: #fff;
}

.light-pink .ph-retro-logo path {
	fill: #FF0068;
}

.deep-pink .ph-retro-logo path {
	fill: #000;
}

.blue .ph-retro-logo path {
	fill: #fff;
}

.memo {
	font-size: 19px;
	line-height: 1.5;
}

/* TITLE PAGE SECTION */

.title-page-group {
	max-width: 700px;
	margin: 0 auto;
}

.page-title {
	width: 60%;
	font-weight: 400;
	font-size: 10vw;

	margin: -2.3em 0 40px;
	padding: 0 2rem 0;
	
	color: #fff;
	line-height: 1;
}

@media screen and (min-width: 700px) {
	.page-title {
		font-size: 70px;
	}
}

.title-page-memo {
	color: rgba(255,255,255,0.76);
	padding-bottom: 2rem;
}

.title-page-memo p {
	padding: 0 2rem;
}

// create the column layout of the paragraphs
// and have them wrap around the image
@include breakpoint-up(lg) {
	.title-page-group {
		width: 1024px;
		max-width: initial;
		padding: 0 0 80px 40px;
	}

	.page-title {
		width: auto;
		font-size: 60pt;
		margin: 0 0 40px 0;
		padding: 60px 0 0 0;
	}

	.title-page-memo {
		padding: 0;
	}

	.title-page-memo p {
		width: 350px;
		padding: 0;
	}

	.title-page-memo .p1 {
		margin: 0 0 0 80px;
	}

	.title-page-memo .p2 {
		margin: -200px 0 0 450px;
	}

	.wellful-card-glyph {
		width: 730px;
		float: right;
		shape-outside: polygon(24% 3%, 0 37%, 72% 99%, 100% 99%, 90% 40%);
	}
}

/* WELLFUL LOGOTYPE SECTION */

.logotype-grid {
	max-width: 600px;
	padding: 2rem;
	margin: 0 auto;
}

.wellful-logotype {
	max-width: 553px;
}

.logotype-memo {
	margin: 3rem 0 0;
}

@include breakpoint-up(lg) {
	.logotype-grid {
		max-width: initial;
		width: 832px;
		height: 235px;
		
		margin: 0;
		padding: 0;

		display: grid;
		grid-template-rows: 2fr;
		grid-template-columns: 42% 58%;
	}

	.wellful-logotype {
		grid-column: 1 / span 2;
		align-self: end;
		justify-self: right;
	}

	.logotype-memo {
		grid-row: 1 / span 2;
		grid-column: 1;
		align-self: start;
		margin: 0;
	}
}

/* HEARTS SECTION */

@keyframes slideRight {
	0% {
		transform: translate3d(0,0,0);
	}	
	100% {
		transform: translate3d(65.5px,0,0);
	}
}

@keyframes slideLeft {
	0% {
		transform: translate3d(0,0,0);
	}	
	100% {
		transform: translate3d(-65.5px,0,0);
	}
}

 .left-heart, .right-heart {
	animation-duration: 5s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.heart {
	animation-play-state: paused;
}

.block[once-onscreen="true"] .heart {
	animation-play-state: running;
}
 
.left-heart {
	animation-name: slideRight;
}

.right-heart {
	animation-name: slideLeft;
}

.hearts-grid {
	width: 100%;
	padding: 2rem 0 2rem;
}

.hearts-animation {
	max-width: 700px;
	padding: 2rem 0;
	margin: 0 auto;
	display: block;
}

.hearts-memo {
	max-width: 500px;
	padding: 0 2rem;
	margin: 0 auto;
}

@include breakpoint-up(lg) {
	.hearts-grid {
		width: 1000px;
		height: 458px;

		display: grid;
		grid-template-rows: 1fr;
		grid-template-columns: repeat(20, 1fr);
	}

	.hearts-memo {
		max-width: initial;
		grid-row: 1;
		grid-column: 3 / span 5;
		align-self: center;
		padding: 0;
		margin: 0;
	}

	.hearts-animation {
		max-width: initial;
		grid-row: 1;
		grid-column: 1 / span 3;
		padding: 0;
		margin: 0;
	}
}

// must come last
@import 'breakpoints';